@using HW3.Models

@model List<FileModel>

@{
    ViewBag.Title = "Images";
}
<script>
    function fancyFunction() {
        $(document).ready(function ($) {
            $(".gallery a").fancybox();
        });
    }
</script>


<h2>Images</h2>
<p>Here are all your Images.</p>
@ViewBag.Message
<br />

@foreach (FileModel file in Model)
{
    <div class="ImageContainer col-sm-6 col-md-3 col-lg-3">
        <div class="cardHead">
            <h5>File Name:</h5>
            <H7> @file.FileName</H7>
        </div>
        <br>
        <img onclick="fancyFunction()" src="~/Media/Images/@file.FileName" width="250" height="250" />

        <br />
        <br />
        <div class="DDbutons">
            @Html.ActionLink("Dowload", "DownloadFile", new { fileName = file.FileName })

            @Html.ActionLink("Delete", "Delete", new { fileName = file.FileName })
        </div>
        <br />
    </div>

} 