
@{
    ViewBag.Title = "About";
}
<br />
<h2>About Me</h2>
<p>Wesley Buscaker</p>
<p>u18081861</p>

<br/>
<div class="mePara col-lg-8">
    <h5>Hi!</h5>
    <p>My name is Wesley Busacker, I am studying BCom Informatics at Tuks.I enjoy software developent and enjoy devolopement operations more than developement. Although I am enjoyng developing alot more as I am learning.Thanks for reading. ;)</p>
</div>
<br />
<img class="col-lg-4" src="~/Media/About/unnamed.png"/>

